# TiDB Cloud Database URL
# Format: mysql://user:password@host:port/database?sslaccept=strict
DATABASE_URL="mysql://2D2CgF9X1ercezY.root:<YOUR_PASSWORD>@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test?sslaccept=strict"
JWT_SECRET="Tuanbodoi"
PORT=5000
